* {
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family:"inter","segoe UI",sans-serif;
}

body {
    background-color: #0b0d11;
    color: #e6e9ef;
    display: flex;
    justify-content: center;    
    align-items: flex-start;
    min-height: 100vh;
    padding: 40px 20px;
}